.LIFESTYLE{
    width: 71px;
    height: 19px;
    margin-top: 71px;
    margin-left: 400px;
    color: black;
}
.PHOTODIARY{
    width: 72px;
    height: 19px;
    margin-top: 71px;
    margin-left: 200px;
    color: black;
}
.MUSIC{
    width: 44px;
    height: 19px;
    margin-top: 71px;
    margin-left: 200px;
    color: black;
}
.TRAVEL{
    width: 52px;
    height: 19px;
    margin-top: 71px;
    margin-left: 200px;
    color: black;
}
.div1 {
    width: 420px;
    height: 546px;
    margin-top: 182px;
    margin-left: 148px;
    display: inline-block;
    background-color: grey;
    color: gold;
}
.div2{
    width: 420px;
    height: 550px;
    margin-top: 180px;
    margin-left: 633px;
    display: inline-block;
    background-color: grey;
    color: gold;
}
.div3{
    width: 421px;
    height: 516px;
    margin-top: 858px;
    margin-left: 147px;
    display: inline-block;
    background-color: grey;
    color: gold;
}
.div4{
    width: 420px;
    height: 516px;
    margin-top: 858px;
    margin-left: 633px;
    display: inline-block;
    background-color: grey;
    color: gold;
}
.div5{
    width: 420px;
    height: 516px;
    margin-top: 1500px;
    margin-left: 149px;
    display: inline-block;
    background-color: grey;
    color: gold;
}
.div6{
    width: 420px;
    height: 516px;
    margin-top: 1504px;
    margin-left: 632px;
    display: inline-block;
    background-color: gray;
    color: gold;
}
:root{
    --primary-color: rgb(128, 128, 128);
    --secondary-color: rgb(255, 215, 0);
}
.LIFESTYLE:hover{
    color: gold;
}
.PHOTODIARY:hover{
    color: gold;
}
.MUSIC:hover{
    color: gold;
}
.TRAVEL:hover{
    color: gold;
}



